<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="facial_recognition.Properties.Settings.FacialConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Facial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="FRONTAL_FACE_CASCADE" value="resources\haarcascade_frontalface_default.xml"/>
		<add key="EYE_CASCADE" value="resources\haarcascade_eye.xml"/>
	</appSettings>
</configuration>